<h4 class="async-data__title">Async Data</h4>

<mat-searchable-select [is-loading]="loading" (changed)="selectedItem = $event.nextValue">
  <mat-searchable-select-label>Lorem Words</mat-searchable-select-label>
  <mat-searchable-select-search-label>Search</mat-searchable-select-search-label>
  <mat-searchable-select-list [options]="options">
    <ng-template matSearchableSelectOption
                 let-option="option">
      {{option}}
    </ng-template>
  </mat-searchable-select-list>
</mat-searchable-select>
<p>Selected Item: {{selectedItem}}</p>
<button mat-raised-button
        [disabled]="loading"
        (click)="intervalSubscription ? stopInterval() : startInterval()">
  <ng-container [ngSwitch]="loading">
    <ng-container *ngSwitchCase="false">
      {{intervalSubscription ? 'Stop' : 'Start'}} Interval
    </ng-container>
    <ng-container *ngSwitchCase="true">
      Fetching..
    </ng-container>
  </ng-container>
</button>
<p *ngIf="countdownSubscription">
  Remaining time to fetch: {{remainingSeconds}}
  <ng-container [ngPlural]="remainingSeconds">
    <ng-template ngPluralCase="=1">second</ng-template>
    <ng-template ngPluralCase="other">seconds</ng-template>
  </ng-container>
</p>
