<h2>mat-searchable-select demo</h2>
<section class="examples">
  <app-basic-usage></app-basic-usage>
  <mat-divider class="demo__divider"></mat-divider>
  <app-giving-value></app-giving-value>
  <mat-divider class="demo__divider"></mat-divider>
  <app-form-control></app-form-control>
  <mat-divider class="demo__divider"></mat-divider>
  <app-filter-highlight></app-filter-highlight>
  <mat-divider class="demo__divider"></mat-divider>
  <app-asynchronous-fetch></app-asynchronous-fetch>
</section>
<section class="codes">
  <pre><code [highlight]="basicUsage.html"></code></pre>
  <pre><code [highlight]="basicUsage.typescript"></code></pre>
</section>
