@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import '~highlight.js/styles/github.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
